---
import "@/css/blocks/site-footer.css";
import { menuLinks, siteConfig } from "@/site-config";

const year = new Date().getFullYear();
---

<footer class="site-footer region wrapper">
	<div>
		&copy; {siteConfig.author}
		{year}. All rights reserved.
	</div>
	<nav class="cluster">
		{menuLinks.map((link) => <a href={link.path}>{link.title}</a>)}
	</nav>
</footer>
